<section class="header">
  <div class="conteiner">
    <a href="http://localhost:4200/" >

      <img id="logo" src="assets/logo.png" alt>
    </a>
    <hr>
    <h1 class="title-one">OI👋, EU SOU JOÃO! </h1>
    <h2 class="title-two">
      Front-End Developer <br><p id="text">

        Busco uma oportunidade como Desenvolvedor
        Front-End para aplicar os conhecimentos recém-adquiridos, aprender de 
        forma ativa, contribuir para o crescimento da equipe e adquirir
          experiência prática.

      </p>
      
    </h2>
    <img class="img-header" src="assets/jj.jpeg.jpg" alt>
  </div>
</section>