@import "../../../styles.scss";
@import "../../../colors.scss";

@media (300px <= width<= 3000px) {
  #logo {
    margin-top: -10px;
    width: 100px;
  }

  hr {
    border: 1px solid color white;
    margin-bottom: 40px;
  }

  .conteiner {
    text-align: center;
  }

  .title-one {
    animation: digitando 3s steps(10), blinking 0.1s infinite step-end alternate;
    overflow: hidden;
    width: 300px;
    height: 40px;
    text-align: left;
    margin-left: 20px;
    color: $primary-color-text;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    size: 28px;
    line-height: 42px;
  }

  #text {
    height: auto;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: justify;
    margin-right: 100px;
  }

  @keyframes digitando {
    from {
      width: 0;
    }
  }

  .title-two {
    color: $secondary-color-text;
    font-family: Poppins;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 20px;
  }

  .img-header {
    filter: grayscale(1);
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: 1px solid white;
    margin-bottom: 20px;
    transition: all 1s;
  }
}

.img-header:hover {
  filter: grayscale(0);
  border: 5px solid;
  border-color: #1c2c54 #777cf4 #777cf4 #1c2c54;
}

@media (1200px <= width) {
  .img-header {
    filter: grayscale(1);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 1px solid white;
    margin-bottom: 20px;
  }
}
