<h1>Projetos</h1>
<section>
  <div class="intens-pro">
      <img class="img-pro" src="assets/3.png" alt>
    <h2>CEEMTI Baixo Guandu</h2>
    <p>
      <strong>Tecnologias utilizadas:</strong> HTML, CSS3, Java
      Script, Bootstrap e GitHub.</p>
      <a class="link" href="https://ceemtibg.netlify.app/">Visite o site <img id="img-ico" src="assets/icons.png" alt=""></a>
      <div class="ball1"></div>
  </div>

   <div class="intens-pro">
      <img class="img-pro" src="assets/4.png" alt>
    <h2>Espaço Monique</h2>
    <p>
      <strong>Tecnologias utilizadas:</strong> HTML, CSS3, Java
      Script e Bootstrap.</p>
      <a class="link" href="https://espacomonique.netlify.app/">Visite o site <img id="img-ico" src="assets/icons.png" alt=""></a>
      <div class="ball2"></div>
  </div>
</section>
